button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 0,5em;
    font-weight: 500;
    margin-left: 5px;
    font-family: inherit;
    /* background-color: #1a1a1a; */
    cursor: pointer;
    transition: border-color 0.25s;

  }
  button:hover {
    border-color: #646cff;
  }
  button:focus,
  button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
  }

  @media (prefers-color-scheme: light) {
    :root {
      color: #213547;
      background-color: #ffffff;
    }
    a:hover {
      color: #747bff;
    }
    button {
      background-color: #f9f9f9;
    }
    
  }

  .contact{
    background-color: #646cff;
    border-radius: 10px;
    display: flex;
    margin-bottom: 10px;
    margin-left: 12px;
    align-items: center;
    max-width: 320px;
  }

  .ptrolio{
    align-items: center;
    display: flex;
    margin-left: 8px;
    margin-right: 10px;
    width: 200px;
  }

  input{
    
      width: 200px;
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 5px;
      font-size: 16px;
    }
    
    input::placeholder {
      color: #999;
    }
  